<xmp>
            <style>
            h3.freeform-iframe-exclusive {
                text-align: center;
            }

            h2.freeform-iframe-headline {
                font-family: Pierpont-bold, serif;
                font-size: 44px;
                line-height: 38px;
                margin: 1% auto;
                text-align: center;
            }

            p.freeform-iframe-subhead {
                font-family: Georgia, serif;
                font-size: 18px;
                text-align: center;
            }

            .vidWrapper {
                margin-bottom: 1em;
                position: relative;
                padding-bottom: 56.25%;
                padding-top: 25px;
                height: 0;
            }

            .vidWrapper iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 94%;
            }
            </style>
            {{#if exclusive}}
            <h3 class="freeform-iframe-exclusive section-name">ExpressNews.com Exclusive</h3> {{/if}}
            <h2 class="freeform-iframe-headline">
<a href="{{storyLink}}">{{headline}}</a></h2>
            <p class="freeform-iframe-subhead">{{chatter}}</p>
            <div class="vidWrapper">
                {{{iframe}}}
            </div>
        </xmp>